@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #2B2D31;
  font-family: 'Roboto Mono', monospace;
  color: #EEE;
  -webkit-font-smoothing: antialiased;
}

.App > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  flex: 0 0 auto;
}

.App-content {
  flex: 1 1 auto;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.AppBar {
  background-color: #212226;
  padding: 20px;
}

input[type="text"] {
  font: 16px/20px 'Roboto Mono', monospace;
  color: #FFF;
  border-radius: 0;
}

a {
  cursor: pointer;
  color: #FFF;
}

a:hover, a:active {
  color: #EEE;
}
