.SearchInput {
  appearance: none;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border: 1px solid #6E737D;
  box-shadow: 0 10px 40px -10px #1B1D21;
  outline: none;
  text-align: center;
  background: #3F4248;
}
